<%= simple_form_for [@event, @participation], html: { multipart: true } do |f| %>
    <%= f.input :participating, as: :boolean, label: "Participating?"%>
    <%= f.submit 'Mettre à jour' %>
<% end %>
<div class="container text-center custom-container">
  <h2>Ajoutez un invité à l'évènement <%= @event.title %></h2>
  <%= simple_form_for [@event, @participation], html: { class: 'row' } do |f| %>
    <div class="col-4 mb-3">
      <%= f.association :user, prompt: "Select a user",label: false, prompt: "Sélectionne un invité", input_html: { class: 'form-input' } %>
      <%= f.input :description, label: false, placeholder: 'Description',  input_html: { class: 'form-input' } %>
    </div>
    <div class="col-4 mb-3">
      <%= f.input :cost, label: false, placeholder: 'Coût', input_html: { class: 'form-input' }  %>
    </div>
    <div class="col-4 mb-3">
      <%= f.association :user, label: false, prompt: "Sélectionne un responsable", input_html: { class: 'form-input' }  %>
    </div>
    <div class="col-6 mb-2 mx-auto">
      <%= f.submit 'Ajoutez une autre tâche', class: 'button-basic' %>
      <%= link_to "Passez à l'étape suivante", event_path(@event), class: 'button-basic' %>
    </div>
  <% end %>
</div>
