<div class="d-flex">
  <div class="background-b-left">
    <div class="container text-center custom-container">
      <h2>Modifiez une tâche</h2>
      <%= simple_form_for [@event, @task] do |f| %>
          <div class="col-6 mb-3n mx-auto">
            <%= f.input :description, label: "Description", class:'form-input'%>
          </div>
          <div class="col-6 mb-3n mx-auto">
            <%= f.input :cost, label: "Coût", class:'form-input'%>
          </div>
        <div class="col-6 mb-2 mx-auto">
          <%= f.submit "Enregistrer ma tâche", class:"button-basic" %>
        </div>
      <% end %>
    </div>
  </div>
    <div class="background-b-right" style='background-image: url(<%= asset_path "back-right.png" %>);'>
    </div>
</div>
