<h2>Creez une tache</h2>

 <%= simple_form_for [@event, @task] do |f| %>
  <%= f.input :description, label: "Description"%>
  <%= f.input :cost, label: "Coût" %>
  <%= f.association :user, prompt: "Select a user" %>
  <%= f.submit 'Valider la tâche', class: 'btn btn-light' %>
<% end %>
<p><%= link_to "Je n'ai plus de tâches à ajouter", event_path(@event), class: 'btn btn-light' %>
