<div class="card evenement">
        <div class="card-body">
          <div class="card-initials">
          <% if event.user == current_user %>
            <div class="user-initials" style="background-color: <%= event.user.fixed_color %>;">
              <%= event.user.initials %>
            </div>
          <% end %>
          </div>
          <p style="text-transform: capitalize; font-weight: bolder"><%=link_to event.title, event_path(event)%></p>
          <p style="font-size: 14px;"><%=event.location %></p>
          <p style="font-size: 14px;"><%=event.date.strftime("%B, %dth, %Y") %></p>
          <p style="text-transform: capitalize; font-size: 14px;"><%=event.description %></p>
          <% if participation %>
            <div class="cancel-link-container">
              <%= link_to decline_participation_path(participation), method: :patch do%>
                <i class="fa-solid fa-ban"></i>
              <% end %>
            </div>
          <% end %>
          <% if event.user == current_user %>
            <div class="edit-link-container">
            <a href="#"><i class="fa-solid fa-pencil"></i></a>
            </div>
            <div class="delete-link-container">
              <a href="#"><i class="fa-solid fa-trash"></i></a>
            </div>
          <% end %>
          <div class="review-link-container">
          <% if DateTime.now > event.date %>
            <%=link_to new_event_review_path(event) do %>
              <i class="fa-regular fa-star-half-stroke"></i>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
