<div class="card evenement">
        <div class="card-body">
          <% if event.user == current_user %>
            <div class="edit-link-container">
              <%=link_to edit_event_path(event) do %>
                <i class="fa-solid fa-pencil"></i>
              <% end %>
            </div>
            <div class="delete-link-container">
              <%= link_to destroy_event_path(event), data: {turbo_method: :delete} do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>
          <% end %>
          <h6 style="text-transform: capitalize; font-weight: bolder; width: 80%"><%=link_to event.title, event_path(event)%></h6>
          <p style="text-transform: capitalize; font-size: 14px;"><%=event.location %></p>
          <p style="font-size: 14px;"><%=event.date.strftime("%B, %dth, %Y") %></p>
          <p style="font-size: 14px; width: 80%"><%=event.description %></p>
          <% if participation %>
            <div class="cancel-link-container">
              <%= link_to decline_participation_path(participation), data: { turbo_method: :patch } do %>
                <i class="fa-solid fa-ban"></i>
              <% end %>
            </div>
            <div class="review-link-container">
              <% if DateTime.now > event.date %>
                <%=link_to new_event_review_path(event) do %>
                  <i class="fa-regular fa-star-half-stroke"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
