<div class="container text-center custom-container">
  <h2>Créez votre évènement</h2>
  <%= simple_form_for @event do |f| %>
  <div class="row">
    <div class="col-4 mb-3">
      <%= f.input :title, label: false, placeholder: "Nom de l'évènement",  input_html: { class: 'form-input' } %>
    </div>
    <div class="col-4 mb-3" data-controller="address-autocomplete"
    data-address-autocomplete-apikey-value='<%= ENV["MAPBOX_API_KEY"] %>'>
      <%= f.input :location, label: false, placeholder: "Adresse de l'évènement",
      input_html: { class:'form-input', data: {address_autocomplete_target: "location"}, class: "d-none"}%>
    </div>
    <div class="col-4 mb-3">
      <%= f.input :date,as: :string, label: false, placeholder:"Date de l'évenement", input_html: { class: 'form-input', data: { controller: "datepicker", datepicker_target: "input" } }%>
    </div>
  </div>
  <div class="row mx-auto m-auto">
    <div class="container col-6 mb-3">
    <%= f.input :description, label: false, placeholder: "Description de l'évènement",  input_html: { class: 'form-input' } %>
    </div>
  </div>
    <div class="col-6 mb-2 mx-auto">
      <%= f.submit "Etape suivante", class: 'button-basic' %>
    </div>
  <% end %>
</div>
