<%= simple_form_for @event do |f| %>
  <%= f.input :title %>
  <%= f.input :location %>
  <%= f.input :date,
            as: :string,
            input_html: { data: { controller: "datepicker", datepicker_target: "input" } }, label: "Date de l'évenement" %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
    <% if @event.photo.attached? %>
    <%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <%= f.submit "Créer une liste d'invités", class: 'btn btn-light' %>

<% end %>

<p><%= link_to "back to events", events_path %></p>
