<h2><%= @event.title %></h2>
<p><%= @event.location %></p>
<p><%= @event.date %></p>
<p><%= @event.description %></p>
<% @tasks.each do |task| %>
  <!-- Afficher les détails de chaque tache ici -->
  <div>
    <p>Tache: <%= task.description %></p>
    <p>Coût:<%= task.cost %></p>
    <p><%= link_to "Modifier une tache", edit_event_task_path(@event, task) %></p>
  </div>
<% end %>

<% @reviews.each do |review| %>
  <!-- Afficher les détails de chaque critique ici -->
  <p>note :<%= review.rating %></p>
  <p>commentaire :<%= review.feedback %></p>
  <p><%= link_to "modifier votre avis", edit_event_review_path(@event, review) %></p>
<% end %>

<p><%= link_to "Ajouter une tache", new_event_task_path(@event) %></p>
<p><%= link_to "back to events", events_path %></p>
<p><%= link_to "comment this event", new_event_review_path(@event) %></p>
<% if policy(@event).edit? %>
  <%= link_to "Modifier", edit_event_path(@event), class: 'edit_link' %>|
<% end %>
<% if policy(@event).destroy? %>
<%= link_to "Supprimer", event_path(@event), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?" }, class:"delete_link"%>

<% end %>
<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <h1>#<%= @chatroom.name %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <div id="message-<%= message.id %>">
        <small>
          <strong><%= message.user.first_name %></strong>
          <i><%= message.created_at.strftime("le %d-%m-%Y à %H:%M:%S") %></i>
        </small>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
  <%= simple_form_for [@event, @chatroom, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
