<%# Navbar %>
<div class="wrapper">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white sidebar" style="width: 280px;">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <%# <h1 class="mx-auto big_title">Iz<span class="izivent">ivent</span></h1> %>
        <%= link_to root_path, class: "nav nav-pills flex-column mb-auto " do %>
          <%= image_tag "izevent-high-resolution-logo-white-transparent.png", class: "logo" %>
        <% end %>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
      <div class="mx-auto">
      <img src="https://github.com/mdo.png" alt="" width="100" height="100" class="rounded-circle me-2 sidebar_img">
      </div>
        <li class="nav-item">
          <%= link_to "Tableau de bord", dashboard_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Menu", root_path, class: "nav-link" %>
        </li>
      </ul>
      <hr>
          <li class="nav-item p-3"><strong><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></strong></li>
  </div>

  <%# Contenu de la show sans la navbar %>
  <div class="show_container">
    <div class="show_content">
        <%# Boite 1: Carte avec la carte %>
        <div class="show_card">
          <h3><%= @event.title %></h3>
          <div class="show_section map">
            <div class="section_header">
            <p> <%= @event.location %></p>
            <p><%= @event.date %></p>
            </div>
            <div style="width: 100%; height: 150px;"
              data-controller="map"
              data-map-markers-value="<%= @marker.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
        </div>
        <%# Boite 2: Taches %>
        <div class="show_card">
          <h3>Liste de taches</h3>
          <div class="show_section">
            <div class="section_header">
              <p><%= link_to "Ajouter une tache", new_event_task_path(@event) %></p>
            </div>
          <div class="task_container">
            <% @tasks.each do |task| %>
              <!-- Afficher les détails de chaque tache ici -->
              <div class="task">
                <div class="task_info">
                  <p><%= task.description %></p>
                  <p>Coût: <%= task.cost %>€</p>
                    <% if task.user.present? %>
                    <p>Assignée à : <%= task.user.initials %></p>
                  <% else %>
                    <p>Assignée à : Non défini</p>
                  <% end %>
                </div>
                <div class="link_box">
                  <p><%= link_to destroy_task_path(task), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?"}  do %>
                      <i class="fa-solid fa-trash"></i>
                      <% end %>
                  </p>
                  <p><%= link_to edit_event_task_path(@event, task) do %>
                    <i class="fa-solid fa-pencil"></i>
                    <% end %>
                  </p>
                </div>
              </div>
                     <% end %>
          </div>
          </div>
        </div>
          </div>
  </div>
</div>
