<%# Navbar %>
<div class="row">
  <div class="col-3" style="width:360px !important;">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white sidebar ">
          <div class="mx-auto">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <%# <h1 class="mx-auto big_title">Iz<span class="izivent">ivent</span></h1> %>
            <%= link_to root_path, class: "nav nav-pills flex-column mb-auto " do %>
              <%= image_tag "izevent-high-resolution-logo-white-transparent.png", class: "logo" %>
            <% end %>
          </div>
        <hr>
        <div class="container">
          <div class="row">
            <ul class="nav nav-pills flex-column mb-auto">
            <span class="special_blue">
              <h4 style="text-transform: capitalize">Hello <%= current_user.first_name %></h4>
            </span>
              <li class="nav-item">
                <%= link_to "Tableau de bord", dashboard_path, class: "nav-link" %>
              </li>
            </ul>
          </div>
        </div>
        <hr>
            <li class="nav-item p-3"><strong><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></strong></li>
    </div>
  </div>
  <div class="col-9 show_grid">
    <button class="chat_bubble" data-toggle="modal" data-target="#exampleModal"><i class="fa-regular fa-message"></i></button>
    <%# Troisieme carte %>
    <div class="section" style="width:500px">
      <h3 style="text-transform: capitalize"><%= @event.title %></h3>
      <div class="show_section map">
        <div class="section_header">
          <% if @event.reviews.count > 0 %>
            <div data-toggle="modal" data-target="#reviewsModal">
              <% average_rating.times do %>
                  <i class="fa-solid fa-star"></i>
               <% end %>
              <% end %>
            </div>
          <p> <%= @event.location %></p>
          <p style="font-size: 14px;"><%=@event.date.strftime("%d/%m/%Y") %></p>
          <p style="text-transform: capitalize; font-size: 14px; width: 80%"><%=@event.description %></p>
        </div>
        <div style="width: 100%; height: 150px;"
          data-controller="map"
          data-map-markers-value="<%= @marker.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
    <%# Quatrieme et derniere carte %>
    <div class="section" >
        <h3>Pot commun</h3>
        <div class="tricount_info" style="width:450px">
          <p><strong>Coût total :</strong></p>
          <span class="total">
            <%= total_cost.round(2) %>€
          </span>
          <p><strong>par personne : </strong><%= average_cost_per_user.round(2) %>€ </p>
          <div>
            <button class="button-basic" data-toggle="modal" data-target="#tricountModal">Afficher les details</button>
          </div>
        </div>
    </div>
      <%# Deuxieme carte %>
    <div class="section" style="width:500px">
      <div class="section_header">
        <h3>Liste de tâches</h3>
        <%= link_to new_event_task_path(@event) do%>
          <i class="fa-regular fa-square-plus fa-lg" style="color: #305C7E";></i>
        <% end %>
      </div>
      <div class="show_section">
        <div class="task_container">
          <% @tasks.each do |task| %>
              <!-- Afficher les détails de chaque tache ici -->
            <div class="task">
              <div class="task_info">
                <p> <%= task.description %> </p> |
                <p> <%= task.cost %>€</p>
              </div>
              <div class="link_box">
                <p><%= link_to destroy_task_path(task), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?"}  do %>
                <i class="fa-solid fa-trash"></i>
                <% end %>
                </p>
                <p><%= link_to edit_event_task_path(@event, task) do %>
                <i class="fa-solid fa-pencil"></i>
                <% end %>
                </p>
                <p><% if task.user.present? %>
                  <p>
                  <div class="user-initials" style="background-color: <%= current_user.blue_color %>; width: 26px; height: 26px; font-weight: normal;">
                    <%= task.user.initials_small %>
                  </div>
                  </p>
                  <% else %>
                  <p><%= link_to assign_task_path(task) do %>
                    <i class="fa-solid fa-cart-shopping" style="color: #50abd2;"></i>
                    <% end %>
                  </p>
                  <% end %>
                </p>
              </div>
                        </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                        <%# Derniere carte %>
                  <div class="section liste_invite" style="width:450px">
                    <div class="section_header">
                      <h3>Liste des invités</h3>
                      <% if @user.id == current_user.id %>
                        <p><%= link_to new_event_participation_path(@event) do %></p>
                          <i class="fa-regular fa-square-plus fa-lg" style="color: #305C7E";></i>
                        <% end %>
                      <% end %>
                    </div>
                      <% @participations.each do |participation| %>
                          <!-- Afficher les détails de chaque tache ici -->
                          <div class="task">
                            <p><%= participation.user.first_name.capitalize %> <%= participation.user.last_name.capitalize %></p>
                              <div class="link_box">
                                <% if participation.participating == true %>
                                  <p><i class="fa-solid fa-user-check" style="color: #2BD1F3;"></i></p>
                                  <% elsif participation.participating == nil %>
                                  <p><i class="fa-solid fa-spinner fa-spin-pulse" style="color: #2BD1F3;"></i></p>
                                  <% else  %>
                                  <p><i class="fa-solid fa-user-xmark fa-beat" style="color: #F74572;"></i></p>
                                <% end %>

                                <% if current_user.id != participation.user_id %>
                                  <%= link_to destroy_participation_path(participation), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?"} do%>
                                    <i class="fa-solid fa-trash"></i>
                                  <% end %>
                                <% end %>




                              </div>
                          </div>
                      <% end %>
                  </div>
                </div>
              </div>
              <!-- Modal review -->
                      <div class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="ModalTitle">Modal title</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <% @event.reviews.each do |review| %>
                                <div class="card" style="width: 18rem;">
                                  <div class="card-body">
                                    <h5 class="card-title">My name</h5>
                                    <h6 class="card-subtitle mb-2 text-muted"><%= review.rating %></h6>
                                    <p class="card-text"><%= review.feedback %></p>
                                    <% if review.user == current_user%>
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <% end %>
                                  </div>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <%# Modal chatroom %>
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chatroom</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div id = "chatroom" class="section">
                    <div class="container chatroom"
                    data-controller="chatroom-subscription"
                    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
                    >
                    <div class="messages" data-chatroom-subscription-target="messages">
                      <% @chatroom.messages.each do |message| %>
                        <div id="message-<%= message.id %>">
                          <small>
                            <strong><%= message.user.first_name %></strong>
                            <i><%= message.created_at.strftime("le %d-%m-%Y à %H:%M:%S") %></i>
                          </small>
                          <p><%= message.content %></p>
                        </div>
                      <% end %>
                    </div>
                    <%= simple_form_for [@event, @chatroom, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
                      <%= f.input :content,
                        label: false,
                        placeholder: "Message ##{@chatroom.name}",
                        wrapper_html: {class: "flex-grow-1"}
                      %>
                      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
                    <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<%# Modal tricount %>
        <div class="modal fade" id="tricountModal" tabindex="-1" role="dialog" aria-labelledby="tricountModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <span class="special_blue">
        <h5 class="modal-title" id="tricountModalLabel">Pot commun</h5>
      </span>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div id = "tricount" class="section">
        <% @event.users.each do |user| %>
        <%= user.first_name %> <%= user.last_name %> :
        <p><strong>Montant dépensé : </strong><%= (Task.where(user: user, event: @event).map {|element| element.cost.to_f}.sum).round(2)%>€ | <strong>Montant dû : </strong><%= (average_cost_per_user - (Task.where(user: user, event: @event).map {|element| element.cost.to_f}.sum)).round(2)%>€</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
