<div class="row">
  <div class="col-3" style="width:320px !important;">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white sidebar ">
            <div class="mx-auto">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              <%= link_to root_path, class: "nav nav-pills flex-column mb-auto" do %>
                <%= image_tag "izevent-high-resolution-logo-white-transparent.png", class: "logo" %>
              <% end %>
            </div>
          <hr>
          <div class="container">
            <div class="row">
                <h4 style="text-transform: capitalize; color: #50abd2">Hello <%= current_user.first_name%></h4>
                <ul class="nav nav-pills flex-column mb-auto">
                  <li class="nav-item">
                    <%= link_to "Créez un évènement", new_event_path, class: "nav-link" %>
                  </li>
                </ul>
            </div>
          </div>
          <hr>
          <li class="nav-item p-3"><strong><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></strong></li>
      </div>
    </div>
  <div class="col-9">
    <div class="container">
      <div class="row my-5">
        <h2>Mon tableau de bord</h2>
      </div>
      <div class="row mt-5 justify-content-between">
        <div class="col-6">
          <h3>Mes invitations</h3>
          <div class="card invitation mt-2">
            <div class="card-body">
              <div>
              <% if @participations.where(participating: nil).count > 0%>
                <% @participations.each do |participation| %>
                  <%= render "shared/invitation", participation: participation%>
                <% end %>
              <% else %>
                <p style="font-size: 14px">Vous n'avez pas d'invitations en ce moment.</p>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <h3>Mes évènements</h3>
          <div class="cards">
          <% @my_events.reverse_order.each do |event| %>
            <%= render "shared/event", event: event, participation: nil %>
          <% end %>
          </div>
      </div>
      <div class="row my-5">
        <h3>Mes participations</h3>
          <div class="cards">
            <% @participations.reverse_order.each do |participation|%>
              <% if participation.participating && participation.event.user != current_user %>
              <%= render "shared/event", event: participation.event, participation: participation %>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
