<%# ---------------- Creator section --------------- %>
<p> Les events que j'ai créé :</p>
<% @my_events.each do |event| %>
  <p><%=event.title %></p>
<% end %>

<%# ---------------- Participant section ----------- %>
<p> Les events auxquels tu es invité :</p>
<% @participations.each do |participation|%>
  <% if participation.participating == nil %>
   <p><%=participation.event.title %></p>
    <%= button_to 'Accepter invitation', confirm_participation_path(participation), method: :patch, class: 'btn btn-primary' %>
    <%= button_to 'Refuser invitation', decline_participation_path(participation), method: :patch, class: 'btn btn-primary' %>
  <%end %>
<%end %>
<p> Les events auxquels tu participes :</p>
<% @participations.each do |participation|%>
  <% if participation.participating == true %>
    <p><%=participation.event.title %></p>
    <%= button_to 'Annuler participation', decline_participation_path(participation), method: :patch, class: 'btn btn-primary' %>
  <%end %>
<% end %>
<br>
<%= link_to "Retour aux events", events_path, class: 'btn btn-light' %>
