<div class="row">
  <div class="col-3">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white sidebar ">
            <div class="mx-auto">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              <%# <h1 class="mx-auto big_title">Iz<span class="izivent">ivent</span></h1> %>
              <%= link_to root_path, class: "nav nav-pills flex-column mb-auto " do %>
                <%= image_tag "izevent-high-resolution-logo-white-transparent.png", class: "logo" %>
              <% end %>
            </div>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
          <div class="mx-auto">
          <img src="https://github.com/mdo.png" alt="" width="100" height="100" class="rounded-circle me-2 sidebar_img">
          </div>
            <li class="nav-item">
              <%= link_to "Tableau de bord", dashboard_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Menu", root_path, class: "nav-link" %>
            </li>
          </ul>
          <hr>
              <li class="nav-item p-3"><strong><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></strong></li>
      </div>
    </div>
  <div class="col-9">
    <div class="container">
      <div class="row my-5">
        <h2>Mon tableau de bord</h2>
      </div>
      <div class="row mt-5">
        <h3>Mes invitations</h3>
        <div class="col-4">
          <div class="card invitation mt-2">
            <div class="card-body">
              <p class="text-center pb-4" style="font-weight: 550;">Réponses attendues</p>
              <div>
                <% @participations.each do |participation| %>
                  <%= render "shared/invitation", participation: participation%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row my-5">
        <h3>Mes évènements</h3>
        <div class="cards">
        <% @my_events.each do |event| %>
          <%= render "shared/event", event: event, participation: nil %>
        <% end %>
        <% @participations.each do |participation|%>
          <% if participation.participating %>
          <%= render "shared/event", event: participation.event, participation: participation %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
