<%# ---------------- Creator section --------------- %>
  <div class="container">
    <div class="dashboard_grid">
      <div class="section">
        <h3> Les events que j'ai créé </h3>
            <% @my_events.each do |event| %>
          <div class="created_event_card_basic">
              <div class="img_container"></div>
              <p><%=link_to event.title, event_path(event), class: "p-card"%></p>
              <p><%=event.location %></p>
              <p><%=event.date %></p>
              <p><%=event.description %></p>
              <div class="edit-link-container">
              <a href="#"><i class="fa-solid fa-pencil"></i></a>
              </div>
              <div class="delete-link-container">
                <a href="#"><i class="fa-solid fa-trash"></i></a>
              </div>
              <div class="review-link-container">
              <% if DateTime.now > event.date %>
                <%=link_to new_event_review_path(event) do %>
                  <i class="fa-regular fa-pen-to-square"></i>
                <% end %>
              <% end %>
              </div>
          </div>
          <% end %>
      </div>
              <%# ---------------- Participant section ----------- %>
      <div class="section">
        <h3> Les events auxquels je participe</h3>
        <% @participations.each do |participation|%>
          <% if participation.participating == true %>
            <div class="created_event_card_basic">
            <div class="img_container"></div>
            <p class="p-card"><%=link_to participation.event.title, event_path(participation.event), class: "p-card"%></p>
            <p><%=participation.event.location %></p>
            <p><%=participation.event.date %></p>
              <%= button_to 'Annuler participation', decline_participation_path(participation), method: :patch, class: 'button-basic' %>
            <div class="edit-link-container">
            <a href="#"><i class="fa-solid fa-pencil"></i></a>
            </div>
            <div class="delete-link-container">
              <a href="#"><i class="fa-solid fa-trash"></i></a>
            </div>
            <div class="review-link-container">
            <% if DateTime.now > participation.event.date %>
              <%=link_to new_event_review_path(participation.event) do %>
                <i class="fa-regular fa-pen-to-square"></i>
              <% end %>
            <% end %>
            </div>
            </div>
            <%end %>
        <% end %>
      </div>
      <div class="section">
  <h3> Les events auxquels je suis invité</h3>
  <% @participations.each do |participation|%>
        <% if participation.participating == nil %>
      <div class="created_event_card_pending">
      <div class="img_container"></div>
          <p class="p-card"><%=link_to participation.event.title, event_path(participation.event), class: "p-card"%></p>
          <p><%=participation.event.location %></p>
          <p><%=participation.event.date %></p>
          <div class="button_box">
          <div class="accept-link-container">
          <%= link_to confirm_participation_path(participation), method: :patch do %>
          <i class="fa-regular fa-circle-check"></i>
          <% end %>
          </div>
          <div class="decline-link-container">
            <%= link_to decline_participation_path(participation), method: :patch do %>
            <i class="fa-regular fa-circle-xmark"></i>
          <% end %>
          </div>
      </div>
    <%end %>
  <%end %>
  </div>
  </div>
</div>
