<%# ---------------- Creator section --------------- %>
  <div class="container">
    <div class="dashboard_grid">
      <div class="section">
        <p> Les events que j'ai créé :</p>
            <% @my_events.each do |event| %>
          <div class="created_event_card">
              <div class="img_container"></div>
              <p><%=event.title %></p>
              <p><%=event.location %></p>
              <p><%=event.date %></p>
              <p><%=event.description %></p>
          </div>
            <% end %>
      </div>
      <div class="section">
        <%# ---------------- Participant section ----------- %>
        <p> Les events auxquels je suis invité :</p>
        <% @participations.each do |participation|%>
              <% if participation.participating == nil %>
            <div class="created_event_card">
            <div class="img_container"></div>
               <p><%=participation.event.title %></p>
               <p><%=participation.event.location %></p>
               <p><%=participation.event.date %></p>
                <div class="button_box">
                  <%= button_to 'Accepter invitation', confirm_participation_path(participation), method: :patch, class: 'btn btn-primary' %>
                  <%= button_to 'Refuser invitation', decline_participation_path(participation), method: :patch, class: 'btn btn-primary' %>
                </div>
            </div>
          <%end %>
        <%end %>
      </div>
      <div class="section">
        <p> Les events auxquels je participe :</p>
        <% @participations.each do |participation|%>
          <% if participation.participating == true %>
            <div class="created_event_card">
            <div class="img_container"></div>
            <p><%=participation.event.title %></p>
            <p><%=participation.event.location %></p>
            <p><%=participation.event.date %></p>
              <%= button_to 'Annuler participation', decline_participation_path(participation), method: :patch, class: 'btn btn-primary' %>
            </div>
            <%end %>
        <% end %>
      </div>
    </div>
  </div>
<br>
<%= link_to "Retour aux events", events_path, class: 'btn btn-light' %>

<%# ---------------- Participant connecté ----------- %>
<div class="user-initials" style="background-color: <%= current_user.random_color %>;">
  <%= current_user.initials %>
</div>
